global:
  scrape_interval:     5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'ssv-liquidator'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['ssv-liquidator:${APP_PORT}']
        labels:
          app: 'liquidation-cli'
